@model ProyectoGraduacion_WEB.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutServiceLogin.cshtml";
}


    <style type="text/css">
        .text-error {
            color: #DC3545;
        }
    </style>


    <img src="@Url.Content("~/Content/images/crm_Logo.png")" alt="login" class="login-img" />

    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>

        @Html.AntiForgeryToken()

        <div class="input-group custom input-group-lg">
            <input asp-for="Username" class="form-control" type="email" required placeholder="Usuario" />
            <div class="input-group-append custom">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <span asp-validation-for="Username" class="text-error"></span>
        </div>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

        <div class="input-group custom input-group-lg">
            <input asp-for="Password" class="form-control" type="password" required placeholder="Contraseña" />
            <div class="input-group-append custom">
                <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
            </div>
            <span asp-validation-for="Password" class="text-error"></span>
        </div>

        <div class="input-group custom input-group-lg">
            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-label cursor-pointer" type="checkbox" />
                <label class="form-check-label cursor-pointer" for="recordarcontrasenia">Recordar Contraseña</label>
            </div>
            <span asp-validation-for="RememberMe" class="text-error"></span>
        </div>

        <div class="input-group custom input-group-lg">
            <div class="g-recaptcha" data-sitekey="6LeJPxgUAAAAAN1K6llu58G26wXCOAhSxm7mvml9" data-callback="callbackRecaptcha"></div>
            <div id="g-recaptcha-error" class="text-justify"></div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="input-group">
                    <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Acceder</button>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="forgot-password padding-top-10"><a href="@Url.Action("ForgotPassword", "ServiceLogin")">Olvidar Contraseña</a></div>
            </div>
        </div>
    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


