
@{
    ViewData["Title"] = "Productos";
}

<link rel="stylesheet" href="~/Content/DataTable/bootstrap.css" />
<link rel="stylesheet" href="~/Content/DataTable/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/Scripts/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/Scripts/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/Content/styles/pageStyles.css" />

<script src="~/Scripts/metodos/customAlert.js"></script>
<script src="~/Scripts/metodos/generarTablas.js"></script>
<script src="~/Content/DataTable/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/gijgo/gijgo.min.js"></script>
<script src="~/Scripts/jquery-validate/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Productos/Productos.js"></script>

<style type="text/css">
    .modal-lg {
        max-width: 99% !important;
    }

    .modal-body {
        max-height: calc(100vh - 145px);
        overflow-y: auto;
    }

    .row {
        margin: 10px;
    }

    .tablaObjeto {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 100%;
    }

    .modalRoll {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 495px;
    }

    #item-lb {
        text-align: left;
        margin-top: 0.5em;
        padding: 6px;
        color: darkslategrey;
        font-size: 17px;
    }
</style>

<script type="text/javascript">

        var rootPath = window.location.origin;
        var arrayProducto = ["Producto_ID", "Nombre",
            "Descripción", "Precio", "Cantidad", "Estado", "Categoria", "Operaciones"];
         var arrayNotOrder = [1];

        $(document).ready(function () {
            generarTabla();
        });



       //function mayus(e) {
       //     e.value = e.value.toUpperCase();
       // }

</script>

<div class="container-fluid">
    <div class="tab-pane fade show active" id="funcionalidad" role="tabpanel" aria-labelledby="profile-tab">
        <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <div class="pull-left">
                                <h1 class="text-blue">Mantenimiento de Productos</h1>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                        </div>
                    </div>
                    <div class="row">
                        <div id="divPromotions" class="col-sm-2 col-md-2 col-xl-8">
                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">
                            <button id="btnFuncionalidad" type="button" class="btn btn-primary btn-block active btn-sec" data-toggle="modal" data-target="#MyModal">Crear Producto</button>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">
                            <a target="_blank" href="@Url.Action("ExporttoExcel", "GestionRutas")" style="padding:6px" class="btn btn-success btn-block active" id="exportExcel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tablaObjeto" id="contTable">

            </div>
        </div>
    </div>
</div>