
@{
    ViewData["Title"] = "Productos";
}

<link rel="stylesheet" href="~/Content/DataTable/bootstrap.css" />
<link rel="stylesheet" href="~/Content/DataTable/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/Scripts/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/Scripts/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/Content/styles/pageStyles.css" />

<script src="~/Scripts/metodos/customAlert.js"></script>
<script src="~/Scripts/metodos/generarTablas.js"></script>
<script src="~/Content/DataTable/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/gijgo/gijgo.min.js"></script>
<script src="~/Scripts/jquery-validate/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Productos/Productos.js"></script>

<style type="text/css">
    .modal-lg {
        max-width: 99% !important;
    }

    .modal-body {
        max-height: calc(100vh - 145px);
        overflow-y: auto;
    }

    .row {
        margin: 10px;
    }
    
    .tablaObjeto {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 100%;
    }

    .modalRoll {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 495px;
    }

    #item-lb {
        text-align: left;
        margin-top: 0.5em;
        padding: 6px;
        color: darkslategrey;
        font-size: 17px;
    }
</style>

<script type="text/javascript">

    var rootPath = window.location.origin;
    var arrayProducto = ["Producto_ID", "Nombre",
        "Descripción", "Precio", "Cantidad", "Categoría", "Estado", "Operaciones"];


    $(document).ready(function () {
        generarTabla();
    });



       //function mayus(e) {
       //     e.value = e.value.toUpperCase();
       // }

</script>

<div class="container-fluid">
    <div class="tab-pane fade show active" id="funcionalidad" role="tabpanel" aria-labelledby="profile-tab">
        <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <div class="pull-left">
                                <h1 class="text-blue">Mantenimiento de Productos</h1>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                        </div>
                    </div>
                    <div class="row">
                        <div id="divPromotions" class="col-sm-2 col-md-2 col-xl-8">
                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">
                           
                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">
                            @*<a target="_blank" href="@Url.Action("ExporttoExcel", "GestionRutas")" style="padding:6px" class="btn btn-success btn-block active" id="exportExcel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</a>*@
                            <button id="btnProducto" type="button" class="btn btn-primary btn-block active btn-sec" data-toggle="modal" data-target="#modalCrearProducto">Crear Producto</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tablaObjeto" id="contTable">

            </div>
        </div>
    </div>
</div>

@*-----------MODAL CREAR PRODUCTO-------------*@
<div class="modal fade modal-lg" id="modalCrearProducto" tabindex="-1" role="dialog" aria-labelledby="CrearProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CrearProductoModalLabel">Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formCrearProducto" class="validarProducto" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Nombre:</h5>
                            <input type="text" class="form-control" placeholder="Nombre" id="funcNombre" data-required="true" required
                                   maxlength="50">
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Producto es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Descripción:</h5>
                            <input type="text" class="form-control" placeholder="Descripción" id="funcDescripcion" data-required="true">
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Precio:</h5>
                            <input type="number" class="form-control" placeholder="Precio" id="funcPrecio" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Precio es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Cantidad:</h5>
                            <input type="number" class="form-control" placeholder="Cantidad" id="funcCantidad" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Cantidad es requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Categoría:</h5>
                            <select class="form-control" id="selectCategoria" required>
                                <option value="" disabled selected>Seleccione Categoría.</option>
                                @if (ViewBag.categorias != null)
                                {
                                    foreach (var item in ViewBag.categorias)
                                    {
                                        <option value=@item.Id.ToString()> @item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="col-12 col-md-4">
                                <h5>Activo</h5>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="input-group">
                                    <input class="form-check" type="checkbox" id="check1" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*-----------MODAL EDITAR PRODUCTO-------------*@
<div class="modal fade modal-lg" id="modalEditProducto" tabindex="-1" role="dialog" aria-labelledby="EditarProductoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CrearProductoModalLabel">Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEditProducto" class="validarProductoUpdate" novalidate>
                <input type="text" class="form-control" id="funcId" data-required="true" hidden>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Nombre:</h5>
                            <input type="text" class="form-control" placeholder="Nombre" id="funcNombreEdit" data-required="true" required
                                   maxlength="50">
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Producto es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Descripción:</h5>
                            <input type="text" class="form-control" placeholder="Descripción" id="funcDescripcionEdit" data-required="true">
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Precio:</h5>
                            <input type="number" class="form-control" placeholder="Precio" id="funcPrecioEdit" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Precio es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Cantidad:</h5>
                            <input type="number" class="form-control" placeholder="Cantidad" id="funcCantidadEdit" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Cantidad es requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Categoría:</h5>
                            <select class="form-control" id="selectCategoriaEdit" required>
                                <option value="" disabled selected>Seleccione Categoría.</option>
                                @if (ViewBag.categorias != null)
                                {
                                    foreach (var item in ViewBag.categorias)
                                    {
                                        <option value=@item.Id.ToString()> @item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="col-12 col-md-4">
                                <h5>Activo</h5>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="input-group">
                                    <input class="form-check" type="checkbox" id="check1Edit" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>