
@{
    ViewData["Title"] = "Home";
}

<div class="container h-100">
    @*<div class="row align-items-center h-100">
            <img src="@Url.Content("~/Content/images/crm_Logo.png")" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
        </div>*@

    <br />
    <div class="container-fluid">
        <div class="tab-pane fade show active" id="funcionalidad" role="tabpanel" aria-labelledby="profile-tab">
            <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xl-12">
                                <div class="pull-left">
                                    <h1 class="text-blue">Visión</h1>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xl-12">
                                <p>
                                    De Guatemala al mundo, ser líderes globales en la industria textil.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="tab-pane fade show active" id="funcionalidad" role="tabpanel" aria-labelledby="profile-tab">
            <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xl-12">
                                <div class="pull-left">
                                    <h1 class="text-blue">Misión</h1>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xl-12">
                                <p>
                                    Diferenciarnos mediante la innovación brindando a nuestros clientes un servicio
                                    con rapidez a través de la implementación de nuevas tecnologías, procesos
                                    sustentables y mejora continua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
