
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="tab-pane fade show active" id="funcionalidad" role="tabpanel" aria-labelledby="profile-tab">
        <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <div class="pull-left">
                                <h1 class="text-blue">Mantenimiento Caterias</h1>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                        </div>
                    </div>
                    <div class="row">
                        <div id="divPromotions" class="col-sm-2 col-md-2 col-xl-8">
                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">
                            <button id="btnFuncionalidad" type="button" class="btn btn-primary btn-block active btn-sec" data-toggle="modal" data-target="#MyModal">Agregar</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row tablaObjeto" id="contTable">

            </div>
        </div>
    </div>
</div>
