<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Login</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/styles/style.min.css" />
    <link rel="stylesheet" href="~/Content/sweetalert/sweetalert2.css" />

    <style type="text/css">
        .cursor-pointer {
            cursor: pointer;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/scripts/script.min.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert2.all.js"></script>

</head>
<body>
    <div id="wait-dialog" class="pre-loader" style="opacity: 0.75;"></div>
    <div class="login-wrap customscroll d-flex align-items-center flex-wrap justify-content-center pd-20">
        <div class="login-box bg-white box-shadow pd-30 border-radius-5">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>