<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/styles/style.min.css" />
    <link rel="stylesheet" href="~/Content/sweetalert/sweetalert2.css" />
    <link rel="stylesheet" href="~/Content/styles/chosen.css" />

    <script src="~/Scripts/metodos/Ajax.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/scripts/script.min.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert2.all.7.30.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>

    <style type="text/css">
        .select2-dropdown {
            top: 22px !important;
            left: 8px !important;
        }

        .cursor-pointer {
            cursor: pointer;
        }

        .tablaObjeto2 {
            overflow-x: auto;
            overflow-y: auto;
            max-height: 100%;
        }

        .tblmodal2 {
            height: 250px !important;
            width: auto !important;
        }

        .attr {
            height: auto !important;
            width: auto !important;
            overflow: auto !important;
        }

        #srcTable {
            width: 165px !important;
        }

        /*Palabra Menú en vez de icono*/
        .menu-icon {
            padding: 6px;
            padding-left: 10px;
            width: 80px;
        }

        .iconMenu {
            width: 50px;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>


</head>
<body>

    <!-- header -->
    <div id="wait-dialog" class="pre-loader" style="opacity: 0.75;"></div>
    <div class="header clearfix" id="parte2">
        <div class="header-right">

            <h4 class="menu-icon">
                Menú
            </h4>

            <div class="menu-icon iconMenu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <span class="user-icon"><i class="fa fa-user-o"></i></span>
                        <span class="user-name">@User.Identity.Name</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="@Url.Action("UserProfile", "ServiceLogin")"><i class="fa fa-user-md" aria-hidden="true"></i> Perfil</a>
                        @*<a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Setting</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-question" aria-hidden="true"></i> Help</a>*@

                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesión</a>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!-- container -->
    <partial name="__LeftSideBar" />
    <div class="main-container">
        @RenderBody()
    </div>

</body>

</html>